/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
}

.theme-dark .header__rec {
  display: flex;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header__theme-menu-button {
  color: var(--button-color);
}
