/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
}

.theme-light .header__rec {
  display: none;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__theme-menu-button {
  color: var(--button-color);
}
