.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  background-blend-mode: overlay;
  background-image: url("../images/cover-image.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 2px 12px;
  cursor: pointer;
  color: var(--button-color);
  font-size: var(--font-size);
}

.header__theme-menu-button:hover {
  border-color: var(--button-color);
}

.header__theme-menu-button_active {
  border-color: var(--button-color);
  pointer-events: none;
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
}

.header__rec-circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  line-height: 82.5%;
  margin: 0;
}

.header__content {
  align-self: flex-end;
  max-width: 491px;
  margin-bottom: 20px;
}

.header__subtitle {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  padding: 5px;
  margin: 0;
}

.main {
  padding: 60px 20px;
}

.section {
  margin-bottom: 80px;
}

.section__title {
  color: var(--accent-color);
  font-size: var(--font-size);
  margin-bottom: 20px;
}

.vertical {
  display: flex;
  gap: 140px;
  align-items: flex-start;
}

.card {
  margin-bottom: 50px;
}

.card__title {
  display: inline-block;
  width: 100%;
  padding: 4px 6px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-size: var(--font-size);
  margin-bottom: 10px;
}

.card__text {
  color: var(--text-color);
  margin-bottom: 0;
}

.card__accent {
  color: var(--accent-color);
  text-decoration: none;
}

.cards-grid {
  display: grid;
  gap: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--wide {
  grid-column: span 2;
}

.gallery__item--tall {
  grid-row: span 2;
}

.footer {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer__title {
  font-size: clamp(7rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  line-height: 82.5%;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decor-color);
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top: none;
}

@media (max-width: 768px) {
  .vertical {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__title {
    font-size: clamp(6rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-align: center;
    width: 100%;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__item--wide {
  }

  .gallery__item--tall {
  }

  .section {
    margin-bottom: 0;
  }
  .header__theme-menu {
    align-self: flex-end;
    margin-top: 144px;
    & > ul {
      display: flex;
      flex-direction: column;
    }
  }

  .header__subtitle {
    background-color: var(--accent-color);
    color: var(--bg-color);
    font-weight: bold;
    width: 100%;
    padding: 5px;
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .vertical {
    display: flex;
    gap: 140px;
    align-items: flex-start;
  }

  .cards-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .header__title {
    margin-left: -20px;
  }
  .footer__title {
    font-size: clamp(6rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-align: center;
    width: 100%;
  }

  .section__title {
    width: 236px;
    float: left;
    margin-right: 20px;
  }

  .section__title + * {
    clear: both;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item--wide {
    grid-column: span 2;
  }

  .gallery__item--tall {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 80px 20px;
  }

  .section__title {
    width: 315px;
  }
}
