:root {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --button-color: #353430;
  --card-bg: #fff1f7;
  --decor-color: #353430;

  --font-family: "IBM Plex Mono", monospace;
  --font-size: 18px;
  --line-height: 23.4px;

  --section-padding: 20px;
  --gap: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --shadow-color: #ff0070;
    --button-color: #ff0070;
    --card-bg: #000028;
    --decor-color: #ff0070;
  }
}

.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --button-color: #ff0070;
  --card-bg: #000028;
  --decor-color: #ff0070;
}

.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --button-color: #353430;
  --card-bg: #fff1f7;
  --decor-color: #353430;
}
